.data {
    margin-left: 3.5px;
}

.desc {
    margin-right: 180px;
}

.category {
    margin-right: 70px;
}

.sum {
    margin-right: 100px;
}


.data1 {
    margin-left: 11px;
}

.desc1 {
    margin-right: 260px;
}

.category1 {
    margin-right: 10px;
}

.sum1 {
    margin-left: 120px;
    margin-right: 30px;
}