.data {
    margin-left: 3.5px;
}

.desc {
    margin-right: 180px;
}

.category {
    margin-right: 70px;

    @media (min-width: 768) {
        margin-right: 0px;
    }
}

.sum {
    margin-right: 100px;
}


.data1 {
     width: 115px;
     text-align: center;
}

.desc1 {
    width: 250px;
    text-align: center;
}

.category1 {
    width: 185px;
    text-align: center;
    margin-left: 50px;
}

.sum1 {
    width: 152px;
    text-align: center;
    
}